
$primary-color: #FCFCFD;
$secondary-color: #F4F5F6;
$primary-button-color: #3B71FE;
$secondary-button-color: #E6E8EC;
$primary-text-color: #fff;
$secondary-text-color: #161616;
$light-text-color: #464646;
