@import "../../themes/theme.scss";

.container{
    display: flex;
    padding: 3%;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    background-color: #f5f5f5; /* Background cinza claro */
    border-radius: 15px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Adiciona uma transição suave no efeito de transformação */
    
    &:hover{
        transform: scale(1.05);
    }

    .firstBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: rgb(0, 104, 240);
        padding: 0 27px;
        height: 80px;
        .dayText{
            font-size: 1.5rem;
            color: white;
            font-weight: 600;
        }
        .monthText{
            font-size: 0.8rem;
            color: white;
            font-weight: 600;
        }
    }
    .lastBox{
        box-sizing: border-box; 
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 60%;
        .fullNameText{
            font-size: 1rem;
            width: 90%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

        }
        .phoneNumberText{
            color: $light-text-color;
        }
        .fullDateText{
            color: $light-text-color;
        }
    }

}
.modalBackground {
    position: fixed; /* Alterado para position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .modalBox {
        position: relative;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        width: 95%;
        height: 85%;
        display: flex;
        flex-direction: column;
        // overflow-y: auto;
        // overflow-x: hidden;
        .closeModalBox{
            position: fixed; /* Deixa o elemento fixo */
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            display: flex;
            justify-content: space-between;
            width:calc(94%);

            .titleBox{
                box-sizing: border-box;
                padding: 20px 0 0 15px;
                font-size: 1.1rem;
                font-weight: bold;
                @media(min-width: 425px){
                    font-size: 1.3rem;
                }
            }

            .closeIcon{
                color: #ff5252;
                cursor: pointer;

                &:hover{
                    color: #ff0000;
                }
            }
        }

        .modalContentBox{
            display: flex;
            flex-direction: column;
            padding: 15px;
            gap: 15px;
            margin-top: 50px;
            overflow-y: auto;
            overflow-x: hidden;
            .dateText{
                font-size: 1rem;
                color: rgba(0, 0, 0, 0.6);
            }

            .additionalValueButton{
                border-radius: 3px;
                width: 170px;
                display: flex;
                padding: 10px 0 10px 0px;
                justify-content: flex-start;
                gap: 8px;
                align-items: center;
                cursor: pointer;
                text-align: center;
                // border: 1px solid black;
                // border: 1px solid rgb(75, 192, 75);

            }
            .addServiceText{
                font-size: 1.2rem;
                // color: rgb(75, 192, 75);
                color: $light-text-color;
                margin-bottom: 3px;
            }
            .addedServiceIcon{
                color: rgb(75, 192, 75);
                text-align: center;
            }

            .buttonsSubmitBox{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 20px;
                margin-top: 15px;
                .downloadButtonsBox{
                    display: flex;
                    justify-content: flex-start;
                    gap: 15px;
                   

                    .downloadButton {
                        display: inline-flex;
                        align-items: center;
                        padding: 8px 16px;
                        border-radius: 8px;
                        background-color: #d32f2f; /* Cor de fundo azul */
                        color: #ffffff; /* Cor do texto branco */
                        font-size: 0.9rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        transition: background-color 0.3s ease;
                        cursor: pointer;
                        border: none;
                      
                        &:hover {
                          background-color: #a72727; /* Cor de fundo azul mais escura ao passar o mouse */
                        }
                      
                        .downloadIcon {
                            margin-left: 4px;
                            color: #ffffff; /* Cor do ícone branco */
                        }
                      }

                      .sendButton {
                        display: inline-flex;
                        align-items: center;
                        padding: 8px 10px 8px 16px;
                        border-radius: 8px;
                        background-color: #007bff; /* Cor de fundo azul */
                        color: #ffffff; /* Cor do texto branco */
                        font-size: 0.9rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        transition: background-color 0.3s ease;
                        cursor: pointer;
                        border: none;
                      
                        &:hover {
                          background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
                        }
                      
                        .sendIcon {
                            margin-left: 4px;
                            color: #ffffff; /* Cor do ícone branco */
                        }
                      }
                }

                .reserveButtonBox{
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    .reserveButton{
                        display: flex;
                        align-items: center;
                        font-size: 0.9rem;
                        padding: 8px 12px;
                        color: white;
                        font-weight: 600;
                        background-color: rgb(197, 197, 197);
                        border-radius: 8px;
                        transition: background-color 0.3s ease;
                        cursor: pointer;
                        border: none;
                      
                        &:hover {
                          background-color: green; /* Cor de fundo azul mais escura ao passar o mouse */
                        }
                    }
                }
            }
        }

        .subModalBackground{
            position: absolute; /* Alterado para position: absolute; */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            .subModalContent{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 15px;
                background-color: $primary-color;
                width: 318px;
                padding: 30px 10px;
                border-radius: 15px;
                .textBox{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    gap: 10px;
                    .textConfirmSubModal{
                        font-size: 1.3rem;
                        font-weight: 600;
                        text-align: center;
                    }
                    .subTextConfirmSubModal{
                        font-size: 0.8rem;
                        text-align: center;
                        font-weight: 500;
                        color: $light-text-color;
                    }
                }
                .buttonsBox{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    .cancelButtonSubModal{
                        display: flex;
                        align-items: center;
                        font-size: 0.9rem;
                        padding: 10px 16px;
                        color: white;
                        font-weight: 600;
                        background-color: rgb(197, 197, 197);
                        border-radius: 8px;
                        transition: background-color 0.3s ease;
                        cursor: pointer;
                        border: none;
                      
                        &:hover {
                          background-color: rgb(56, 56, 56); /* Cor de fundo azul mais escura ao passar o mouse */
                        }
                    }
                    .confirmButtonSubModal{
                        display: flex;
                        align-items: center;
                        font-size: 0.9rem;
                        padding: 10px 16px;
                        color: white;
                        font-weight: 600;
                        background-color: green;
                        border-radius: 8px;
                        transition: background-color 0.3s ease;
                        cursor: pointer;
                        border: none;
                      
                        &:hover {
                          background-color: rgb(5, 102, 5); /* Cor de fundo azul mais escura ao passar o mouse */
                        }
                    }
                }
            }
        }
        .newServiceBackgroundModal{
            position: absolute; /* Alterado para position: absolute; */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            .newServiceContentModal{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 15px;
                background-color: $primary-color;
                width: 318px;
                padding: 30px 10px;
                border-radius: 15px;
                .titleNewServiceModal{
                    font-size: 1.4rem;
                    color: $secondary-text-color;
                    font-weight: 600;
                }
                .buttonsBox{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    .cancelButtonSubModal{
                        display: flex;
                        align-items: center;
                        font-size: 0.9rem;
                        padding: 10px 16px;
                        color: white;
                        font-weight: 600;
                        background-color: rgb(197, 197, 197);
                        border-radius: 8px;
                        transition: background-color 0.3s ease;
                        cursor: pointer;
                        border: none;
                      
                        &:hover {
                          background-color: rgb(56, 56, 56); /* Cor de fundo azul mais escura ao passar o mouse */
                        }
                    }
                    .confirmButtonSubModal{
                        display: flex;
                        align-items: center;
                        font-size: 0.9rem;
                        padding: 10px 16px;
                        color: white;
                        font-weight: 600;
                        background-color: green;
                        border-radius: 8px;
                        transition: background-color 0.3s ease;
                        cursor: pointer;
                        border: none;
                      
                        &:hover {
                          background-color: rgb(5, 102, 5); /* Cor de fundo azul mais escura ao passar o mouse */
                        }
                    }
                }
            }
        }
    }

    @media(min-width: 768px){
        .modalBox{
            width: 50%;
            .closeModalBox{
                width:calc(85% - 35%);
            }
        }
    }
    @media(min-width: 1024px){
        .modalBox{
            width: 50%;
        }
    }
  }


