@import "../../themes/theme.scss";
@import '@fontsource/lobster';

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 3%;
    box-sizing: border-box;
        .logoBox{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .tridevLogoIcon{
                width: 4rem;
                height: 4rem;
            }
            .chacaraLogoIcon{
                width: 3.5rem;
                height: 3.5rem;
                color: white;
            }
            .logoText{
                color: $primary-text-color;
                font-size: 1.2rem;
                font-family: 'Lobster', system-ui !important;
            }
    }

    .lastBox{
        .loginButton{
            color: white;
            border-color: white;

            &:hover{
                background-color: #6e96fe;
            }
        }
    }

}