@import "../../themes//theme.scss";

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    width: 100dvw;
    height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;  

    .formContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80%;
        max-width: 400px;
        padding: 5%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
        border-radius: 10px;
        @media(min-width: 768px){
            padding: 2%;
        }

        .invalidLoginText{
            color: red;
            text-align: center;
        }
    }
}

