@import "../../themes/theme.scss";

.background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/chacara-image.jpeg");
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.8)), url("../../public/chacara-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .midContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 4;
        .titleText{
            font-size: 2rem;
            color: $primary-text-color;
            font-family: "Lobster", sans-serif;
            font-style: normal;
        }
        .subTitleText{
            font-size: 1rem;
            color: $primary-text-color;
            
        }
        .button{
            margin-top: 30px;
            color: $primary-color;
            border-color: $primary-button-color;
            font-size: 1rem;
            width: 13rem;
            height: 2.5rem;
            border-radius: 1rem;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            &:hover {
                background-color: lighten($primary-button-color, 10%); /* Torna o botão ligeiramente mais claro ao passar o mouse */
                box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Aumenta a intensidade da sombra ao passar o mouse */
            }
              
        }
        @media(min-width: 375px){
            .titleText{
                font-size: 2.5rem;
            }
        }
        @media(min-width: 425px){
            .titleText{
                font-size: 3rem;
            }
            .subTitleText{
                font-size: 1.2rem;
            }
        }
        @media(min-width: 768px){
            .titleText{
                font-size: 4.8rem;
            }
            .subTitleText{
                font-size: 1.4rem;
            }
            .button{
                margin-top: 35px;
                width: 15rem;
                height: 3rem;
                font-size: 1.2rem;

            }
        }

        @media(min-width: 1024px){
            .titleText{
                font-size: 5.5rem;
            }
            .subTitleText{
                font-size: 1.6rem;
            }
            .button{
                margin-top: 35px;
                width: 15rem;
                height: 3rem;
                font-size: 1.2rem;
            }
        }
     
    }

   .footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 95%;
    margin-bottom: 1%;
        .infoBox{
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            .textFooter{
                gap: 10px;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
                color: $primary-text-color;
                .iconFooter{
                    height: 30px;
                    width: 30px;
                }
            }
        }
        .mapBox{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex-direction: column;
            gap: 5px;

            .textLocalInfo{
                font-size: 1rem;
                color: white;

            }

            $jump-duration: 1s; // Duração do salto
            $jump-delay: 2s; // Intervalo entre os saltos
            @keyframes jumpAnimation { 
                0%, 100% {
                    transform: translateY(0); // Define a posição inicial e final
                } 
                50% { transform: translateY(-6px); // Define a posição máxima do salto
                }
            }

            .iconMap{
                height: 50px;
                width: 50px;
                animation: jumpAnimation $jump-duration ease-in-out infinite; // Aplica a animação
                animation-delay: $jump-delay; // Define o intervalo entre os saltos
                cursor: pointer;
            }
        }

        @media(min-width: 768px){
            .infoBox{
                .textFooter{
                    font-size: 1.2rem;
                }
            }
            .mapBox{
                .textLocalInfo{
                    font-size: 1.2rem;
                }
            }
        }
        @media(min-width:1440px){
            .infoBox{
                .textFooter{
                    font-size: 1.5rem;
                }
            }
            .mapBox{
                .iconMap{
                    height: 60px;
                    width: 60px;
                }
                .textLocalInfo{
                    font-size: 1.5rem;
                }
            }
        }
   }

   .modalBackground {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .closeIcon{
        position: fixed;
        right: 0;
        top: 0;
        z-index: 99999999999;
        cursor: pointer;
        color: rgba(150, 150, 150, 0.8);
        height: 30px;
        width: 30px;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }
        .modalContent {
        background-color: white;
        border-radius: 10px;
        width: 90%;
        height: 60%;
        padding: 1%;

        @media(min-width: 1440px){
            height: 70%;
            width: 70%;
            padding: 0.5%;
        }
        @media(min-width: 768px){
            .closeIcon{
                margin-right: 8px;
            }
        }
        @media(min-width: 1024px){
            .closeIcon{
                margin-right: 10px;
            }
        }
        @media(min-width: 1440px){
            .closeIcon{
                margin-right: 20px;
            }
        }
    }
  }


}
