@import "../../themes/theme.scss";

.background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/chacara-image.jpg");
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.8)), url("../../public/chacara-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    .midContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 4;
        .titleText{
            font-size: 2.5rem;
            color: $primary-text-color;
        }
        .subTitleText{
            font-size: 1rem;
            color: $primary-text-color;
    
        }
        .button{
            margin-top: 30px;
            color: $primary-color;
            border-color: $primary-button-color;
            font-size: 1rem;
            width: 13rem;
            height: 2.5rem;
            border-radius: 1rem;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
            &:hover {
                background-color: lighten($primary-button-color, 10%); /* Torna o botão ligeiramente mais claro ao passar o mouse */
                box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Aumenta a intensidade da sombra ao passar o mouse */
            }
              
        }
        @media(min-width: 425px){
            .titleText{
                font-size: 3rem;
            }
            .subTitleText{
                font-size: 1.2rem;
            }
        }
        @media(min-width: 768px){
            .titleText{
                font-size: 4.8rem;
            }
            .subTitleText{
                font-size: 1.4rem;
            }
            .button{
                margin-top: 35px;
                width: 15rem;
                height: 3rem;
                font-size: 1.2rem;

            }
        }

        @media(min-width: 1024px){
            .titleText{
                font-size: 5.5rem;
            }
            .subTitleText{
                font-size: 1.6rem;
            }
            .button{
                margin-top: 35px;
                width: 15rem;
                height: 3rem;
                font-size: 1.2rem;
            }
        }
    }

    .lastContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1.5;
        width: 98%;
        border-radius: 1rem;
        background: linear-gradient(to right, rgba(252, 252, 253, 0.9) 0%, rgba(252, 252, 253, 0.9) 85%);
        .selectBox{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 15% 0 15%;
            width: 100%;
            border-bottom: 1px solid rgb(34, 34, 34, 0.3);
            flex: 1;
            
            .itemSelect{
                height: 1.6rem;
                border-bottom: 1px solid black;
                padding: 5% 0 15% 0;
                .itemSelectText{
                    font-size: 1rem;
                    color: black;

                }
            }
            

        }
        .infoBox{
            flex: 5;
        }
    }


}
